@inject IClientService clientService
@page "/allClients"
@using BlazorTestApp.DAL.DbModels

<MessageComponent Message="@messageForPopUp" @ref="messageComponent"></MessageComponent>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2> All clients</h2>
            <TableComponent Items="clients.ToList()" Context="client">
                <TableHeader>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Create Data</th>
                    <th>Status</th>
                    <th></th>
                </TableHeader>
                <RowTemplate>
                    <td>@client.Id</td>
                    <td><a href="/client/@client.Id"> @client.Name</a></td>
                    <td>@client.Description</td>
                    <td>@client.DateCreate</td>
                    <td>@client.ClientStatus</td>
                    <td><button class="btn btn-danger" @onclick="(()=>DeleteClient(client.Id))">Delete Client</button></td>
                </RowTemplate>
            </TableComponent>
        </div>
    </div>
</div>

@code {
    private MessageComponent? messageComponent;
    private string? messageForPopUp;
    private IEnumerable<ClientViewModel> clients = new List<ClientViewModel>();

    protected override void OnInitialized()
    {
        clients = clientService.GetAll();
    }
    private void DeleteClient(int id)
    {
        if (clientService.Delete(id))
        {
            messageForPopUp = "Client has been removed";
            messageComponent?.Show();
        }
        else
        {
           messageForPopUp = "Client can't be deleted. He has ordered.";
           messageComponent?.Show();  
        }
       
    }
}