@inject IOrderService orderService
@inject ISearchOrder searchOrder
@inject ISortingOrder sortingOrder

@page "/allOrders"

@using BlazorTestApp.DAL.DbModels;

<div class="container-fluid">
    <h2> All orders</h2>
    <div class="row p-2">
        <div class="col">
            <SearchComponent Label="Search order by Name" OnSearch="HandleSearch"></SearchComponent>
        </div>
        <div class="col">
            <SortComponent OnSortChanged="SortChanged"> </SortComponent>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <TableComponent Items="orders.ToList()" Context="order">
                <TableHeader>
                    <th>Id Order</th>
                    <th>Client</th>
                    <th>Description</th>
                    <th>Order Data</th>
                    <th>Order Status</th>
                    <th>Cost</th>
                    <th></th>
                </TableHeader>
                <RowTemplate>
                    <td><a href="/order/@order.Id"> @order.Id</a></td>
                    <td><a href="/client/@order.ClientId"> @order.NameClient</a></td>
                    <td>@order.Description</td>
                    <td>@order.OrderData</td>
                    <td>@order.OrderStatus</td>
                    <td>@order.Cost.ToString("C0",CultureInfo.CreateSpecificCulture("en-US"))</td>
                    <td> <button class="btn btn-danger" disabled="@order.CannotDeleted" @onclick="(()=>DeleteOrder(order.Id))">Delete</button></td>
                </RowTemplate>
            </TableComponent>
        </div>
    </div>
</div>

@code {
    private IEnumerable<OrderViewModel> orders = new List<OrderViewModel>();

    protected override void OnInitialized()
    {
        orders = orderService.GetAll(); 
    }

    private void DeleteOrder(int id)
    {
        orderService.Delete(id);
    }
    private void HandleSearch(string searchTerm)
    {
        orders=searchOrder.SearchByName(searchTerm);
    }
    private void SortChanged(string orderBy)
    {
        orders = sortingOrder.Sort(orderBy);
    }
}
