@inject IOrderService orderService

@page "/allOrders"

@using BlazorTestApp.DAL.DbModels;

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2> All orders</h2>
            <TableComponent Items="orders.ToList()" Context="order">
                <TableHeader>
                    <th>Id Order</th>
                    <th>Client</th>
                    <th>Description</th>
                    <th>Order Data</th>
                    <th>Order Status</th>
                    <th>Cost</th>
                    <th></th>
                </TableHeader>
                <RowTemplate>
                    <td><a href="/order/@order.Id"> @order.Id</a></td>
                    <td><a href="/client/@order.ClientId"> @order.NameClient</a></td>
                    <td>@order.Description</td>
                    <td>@order.OrderData</td>
                    <td>@order.OrderStatus</td>
                    <td>@order.Cost</td>
                    <td> <button class="btn btn-danger" @onclick="(()=>DeleteOrder(order.Id))">Delete</button></td>
                </RowTemplate>
            </TableComponent>
        </div>
    </div>
</div>

@code {
    private IEnumerable<OrderViewModel> orders = new List<OrderViewModel>();

    protected override void OnInitialized()
    {
        orders = orderService.GetAll(); 
    }
    
    private void DeleteOrder(int id)
    {
         orderService.Delete(id);
    }

}
