@inject BlazorTestApp.DAL.Repositories.IBaseRepository<Order> orderRepository


@page "/allOrders"
@using BlazorTestApp.DAL.DbModels;



<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2> All orders</h2>
            <TableComponent Items="_orders.ToList()" Context="order">
                <TableHeader>
                    <th>Id Order</th>
                    <th>Client</th>
                    <th>Description</th>
                    <th>Order Data</th>
                    <th>Order Status</th>
                    <th>Cost</th>
                    <th></th>
                    <th></th>
                </TableHeader>
                <RowTemplate>
                    <td>@order.Id</td>
                    <td>@order.Client.FirstName @order.Client.LastName</td>
                    <td>@order.Description</td>
                    <td>@order.OrderData</td>
                    <td>@order.OrderStatus</td>
                    <td>@order.Cost</td>
                    <td><button class="btn btn-info">Edit</button></td>
                    <td> <button class="btn btn-danger" @onclick="(()=>DeleteOrder(order))">Delete</button></td>
                </RowTemplate>
            </TableComponent>
        </div>
    </div>
</div>

@code {
    private IEnumerable<Order> _orders = new List<Order>();


    protected override void OnInitialized()
    {
        _orders = orderRepository.GetAll(); 
    }
    
    private void DeleteOrder(Order order)
    {
         orderRepository.Delete(order);
    }
}
