@inject IOrderService orderService

@page "/allOrders"

@using BlazorTestApp.DAL.DbModels;

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2> All orders</h2>
            <TableComponent Items="_orders.ToList()" Context="order">
                <TableHeader>
                    <th>Id Order</th>
                    <th>Client</th>
                    <th>Description</th>
                    <th>Order Data</th>
                    <th>Order Status</th>
                    <th>Cost</th>
                    <th></th>
                    <th></th>
                </TableHeader>
                <RowTemplate>
                    <td>@order.Id</td>
                    <td>@order.NameClient</td>
                    <td>@order.Description</td>
                    <td>@order.OrderData</td>
                    <td>@order.OrderStatus</td>
                    <td>@order.Cost</td>
                    <td><button class="btn btn-info">Edit</button></td>
                    <td> <button class="btn btn-danger" @onclick="(()=>DeleteOrder(order.Id))">Delete</button></td>
                </RowTemplate>
            </TableComponent>
        </div>
    </div>
</div>

@code {
    private IEnumerable<OrderViewModel> _orders = new List<OrderViewModel>();

    protected override void OnInitialized()
    {
        _orders = orderService.GetAll(); 
    }
    
    private void DeleteOrder(int id)
    {
         orderService.Delete(id);
    }

}
