@page "/client/{clientId:int}"
@inject IOrderService orderService
@inject IClientService clientService

@using BlazorTestApp.DAL.DbModels;
<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col p-2 bg-dark text-white text-center">
            <h2>@client.Name</h2>
        </div>
    </div>
    <div class="row border rounded">
        <div class="col p-3">
            <div>
                Description:
            </div>
            <div>
                @client.Description
            </div>
        </div>
        <div class="col p-3 border-left">
            <div>
                Create Data: @client.DateCreate
            </div>
            <div>
                Status:@client.ClientStatus
            </div>
        </div>
    </div>
    <br />
    <div class="row border rounded">
        <div class="p-3">
            <EditForm Model="@orderCreate" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <ImputComponent Label="Description">
                    <Control>
                        <input type="text" @bind-value="orderCreate.Description" placeholder="Description" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </Control>
                </ImputComponent>
                <ImputComponent Label="Cost">
                    <Control>
                        <input type="text" @bind-value="orderCreate.Cost" placeholder="Cost" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </Control>
                </ImputComponent>
                <button class="btn btn-success" type="submit">Add</button>
            </EditForm>
        </div>
    </div>
    @if (orders.Count() > 0)
    {
        <div class="row">
            <div class="text-center">
                <h3>Orders:</h3>
            </div>
            <div>
                <TableComponent Items="orders.ToList()" Context="order">
                    <TableHeader>
                        <th>Id Order</th>
                        <th>Description</th>
                        <th>Order Data</th>
                        <th>Order Status</th>
                        <th>Cost</th>
                        <th></th>
                        <th></th>
                    </TableHeader>
                    <RowTemplate>
                        <td><a href="/order/@order.Id"> @order.Id</a></td>
                        <td>@order.Description</td>
                        <td>@order.OrderData</td>
                        <td>@order.OrderStatus</td>
                        <td>@order.Cost</td>
                        <td><button class="btn btn-danger" @onclick="(()=>DeleteOrder(order.Id))">Delete</button></td>
                    </RowTemplate>
                </TableComponent>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <h3>No orders</h3>
        </div>
    }
</div>


@code {
    [Parameter]
    public int ClientId { get; set; }
    private ClientViewModel client;
    private IEnumerable<OrderViewModel> orders;
    private OrderCreateViewModel orderCreate;

    protected override void OnInitialized()
    {
        orderCreate = new OrderCreateViewModel();
        client = clientService.GetById(ClientId);
        orders = orderService.GetListOrdersById(client.OrdersId);
    }
    private void DeleteOrder(int id)
    {
        orderService.Delete(id);
    }
    private void HandleValidSubmit()
    {
        orderCreate.ClientId = ClientId;
        orderService.Create(orderCreate);
        OnInitialized();
    }

}
