@page "/order/{orderId:int}"
@inject IOrderService orderService


<div class="container-fluid">
    <div class="row h2 border rounded p-2 bg-dark text-white">
        <div class="col">
            ID: @order.Id
        </div>
        <div class="col">
            Order data: @order.OrderData
        </div>
    </div>
    <br />
    <div class="row h3 p-2 border rounded">
        <div class="col">
            Client: @order.NameClient
        </div>
        <div class="col">
            Client Id:@order.ClientId
        </div>
    </div>
    <br />
    <div class="row p-2 border rounded">
        <div class="col">
            Description: @order.Description
        </div>
        <div class="col">
            Order status: @order.OrderStatus
        </div>
    </div>
    <br />
    <div class="row p-1 border-top">
        <h3>Cost: @order.Cost</h3>
    </div>
</div>

@code {
    [Parameter]
    public int OrderId { get; set; }
    private OrderViewModel order;
    protected override void OnInitialized()
    {
        order = orderService.GetById(OrderId);
    }
}
