@page "/order/{orderId:int}"
@inject IOrderService orderService


<div class="container-fluid">
    <div class="row h2 border rounded p-2 bg-dark text-white">
        <div class="col">
            ID: @order.Id
        </div>
        <div class="col">
            Order data: @order.OrderData
        </div>
    </div>
    <br />
    <div class="row h3 p-2 border rounded">
        <div class="col">
            Client: @order.NameClient
        </div>
        <div class="col">
            Client Id:@order.ClientId
        </div>
    </div>
    <br />
    <div class="row p-2 border rounded">
        <EditForm Model="@order" OnValidSubmit="@ChangeDescriptionAndStatusOrder">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <br />
            <div >
                Description:
                <InputTextArea class="form-control" rows="3" @bind-Value="@order.Description" />
            </div>
            <br />
            <div>
                Status:
                <InputSelect class="form-control" @bind-Value="@order.OrderStatus">
                    <option value="@OrderStatus.New">New</option>
                    <option value="@OrderStatus.Done">Done</option>
                </InputSelect>
            </div>
            <br />
            <button class="btn btn-success" type="submit">Save</button>
        </EditForm>
        <br />
    </div>
    <br />
    <div class="row p-1 border-top">
        <h3>Cost: @order.Cost.ToString("C0",CultureInfo.CreateSpecificCulture("en-US"))</h3>
    </div>
</div>


@code {
    [Parameter]
    public int OrderId { get; set; }
    private OrderViewModel order;
    protected override void OnInitialized()
    {
        order = orderService.GetById(OrderId);
    }
    private void ChangeDescriptionAndStatusOrder()
    {
        orderService.Save(order);
    }
}
